.report{
    margin-top: 2ch;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5ch;
    /* width: 80%; */
    border: 1px solid black;
}

.time_and_title{
    display: flex;
    flex-direction: column;
}

.report .data{
    margin: 2.5ch;
    max-height: 300px;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2em;
}

.team_and_time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3ch;
    margin-right: 3ch;
    margin-top: 1.2ch;
}


.team_and_time .team{
    font-family: "STSong";
    color: red;
}

.team_and_time .time{
    font-family:'Times New Roman', Times, serif;
    color: rgb(44, 188, 44);
}
