.report{
    margin-top: 2ch;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5ch;
    /* width: 80%; */
    border: 1px solid black;
}


small{
    width: 90%;
    margin: auto;
}


.report .data{
    margin: 2.5ch;
    max-height: 300px;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2em;
}


.team_and_time .team{
    color: red;
}

.report{
    margin-top: 2ch;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5ch;
    width: 100%;
    border: 1px solid black;
}

.time_and_title{
    display: flex;
    flex-direction: column;
}

.team_and_time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3ch;
    margin-right: 3ch;
    margin-top: 1.2ch;
}

.team_and_time .time{
    font-family:'Times New Roman', Times, serif;
    color: rgb(67, 67, 67);
}

.report_name{
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.3ch;
    text-align: center;
    margin-top:2ch
}
