body {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../image/bg1.jpg);
    background-size: cover;
}

.team{
    font-size: 20px;
}

.head {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 15px;
}

.description{
    margin-top: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0px);
    background-size: 100% 2em;
    background-position-y: 24px;
    line-height: 2em;
}

.head-title{
    text-shadow: #ff010160;
    text-decoration: dashed;
    font-size: 20px;
    margin: 5px;
}

::-webkit-scrollbar{
    width:16px;
    height:16px;
    background-color:#88fff960;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(148, 251, 255, 0.3);
    border-radius:10px;
    background-color:#F5F5F5;
}
/*定义滑块
内阴影+圆角*/
::-webkit-scrollbar-thumb{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(5, 212, 212, 0.3);
    background-color:rgb(53, 255, 245);
}

.container {
    display: flex;
}

h1{
    margin: 0;
}

.container__column {
    flex: 1;
    margin:0 40px;
    border-radius: 30px;
    display: flex;
    transition: 1s;
}

.container__content {
    margin: auto;
    flex: 1;
    width: 320px;
    backdrop-filter: blur(10px);
    background: rgba(106, 255, 255, 0.219);
    border-radius: 30px;
    padding-top: 0%;
    padding-bottom: 15px;
    transition: 0.5s;
}

.container__column:hover {
    margin: 0;
    background: rgba(255, 255, 255, 0.182);
    border: 1px solid wheat;
    transition: 0.5s;
}

.container__column:hover .container__content {
    margin: 0;
    background: rgba(255, 255, 255, 0.1);
    width:  650px;
    transition: 0.5s;
}

.container__content:hover .father{
    width: 600px;
    height: 300px;
    transition: 0.5s;
    overflow-y: scroll;
}

.title {
    align-items: center;
    display: flex;
    justify-content: center;
}


.father{
    /* border: 1px solid rgb(235, 235, 235); */
    margin: auto;
    height: 300px;
    overflow: hidden;
    width: 85%;
    display: flex;
    padding: 2%;
}

.inner-container {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0px); */
    background-size: 100% 2em;
    background-position-y: 24px;
    font-size: 14px;
    line-height: 2em;
}

.inner-container span{
    float: right;
}

.container__content .button-submitted{
    display: none;
    float: left;
    margin: 10px;
    justify-content: center;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.2s;
    width: 120px;
    height: 35px;
    color: rgba(255,255,255,0.9);
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(71, 71, 71, 0.5);
}

a{
    text-decoration: none;
}

.container__content .button-not-submitted{
    display: none;
    justify-content: center;
    margin: 10px;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.2s;

    width: 120px;
    height: 35px;
    color: rgba(255,255,255,0.9);
    border: 1px solid rgba(95, 242, 247, 0.7);
    background: rgba(45, 245, 231, 0.5);

}

.container__content:hover button{
    display: block;
}

.container__content:hover .button{
    display: flex;
    justify-content: center;
    align-items: center;
}

