.body{
  display: flex;

  flex-direction: column;
  align-items: center;
  background-color: rgb(234, 234, 234);
}

.body_mid{
  width: 80%;
  /* border: 1px solid black; */

}

.text{
  margin-top: 2ch;

}

.text-title{
  margin-left: 3ch;
  margin-bottom: 1ch;
  font-family: "STSong";
  color: black;
  font-weight: 600;
}

textarea{
  resize: none;
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: 70ch;
  font-size: 20px;
  font-family: "STSong";
  line-height: 1.5em;
  padding-left: 2ch;
  padding-right: 2ch;
  padding-top: 1ch;
  padding-bottom: 1ch;
}


.button{
  display: flex;
  flex-direction: row;
}

.button button{
  margin-right: 10ch;
  margin-left: 10ch;
  margin-top: 5ch;
  margin-bottom: 10ch;

}

.file{
  margin-top: 1ch;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  padding-left: 10ch;
}

.file input{
  font-size: 20px;
  font-family: "STSong";
  /* color: red; */
}

.file div{
  font-size: 20px;
  font-family: "STSong";
  color: rgb(96, 96, 96);
  font-weight: 600;
  translate: 10px;
  margin-right: 10ch;
}

.report{
  margin-top: 2ch;
  background-color: rgb(255, 255, 255);
  border-radius: 1.5ch;
  /* width: 80%; */
  border: 1px solid black;
}

.time_and_title{
  display: flex;
  flex-direction: column;
}

.report .data{
  margin: 2.5ch;
  max-height: 300px;
  overflow-y: scroll;
  font-family: 'Courier New', Courier, monospace;
  line-height: 2em;
}

.team_and_time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3ch;
  margin-right: 3ch;
  margin-top: 1.2ch;
}


.team_and_time .team{
  font-family: "STSong";
  color: red;
}

.team_and_time .time{
  font-family:'Times New Roman', Times, serif;
  color: rgb(44, 188, 44);
}

.demo-button2 {
  width:120px;
  height:40px;
  display: block;
  text-align:center;
  font-size:15px;
  font-family:verdana;
  color: #efefef;
  border:1px solid #3535357d;
  border-radius:0.5ch;
  background: rgba(43, 43, 43, 0.5);
  cursor: pointer;/*光标小手*/
}

/*鼠标交互*/
.demo-button2:hover {
  background: rgba(243, 243, 243, 0.68);
  color: #1a1a1a;
  transition: 0.5s;
}
