<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,做sql隔离 -->

<mapper namespace="com.mapper.AdminMapper">
    <select id="selectById" resultType="com.test.pojo.Admin">
        select * from admin where aid=#{aid};
    </select>
    <select id="selectAll" resultType="com.test.pojo.Admin">
        select * from admin;
    </select>
    <insert id="insert" parameterType="com.test.pojo.Admin">
        insert into admin
        values (#{aid},#{password},#{email},#{tel});
    </insert>
    <delete id="deleteById" parameterType="com.test.pojo.Admin">
        delete from admin where aid=#{aid};
    </delete>

    <update id="updatePassword" parameterType="com.test.pojo.Team">
        update admin set password=#{password} where aid=#{aid};
    </update>
    <update id="updateEmail" parameterType="com.test.pojo.Team">
        update admin set email=#{email} where aid=#{aid};
    </update>
    <update id="updateName" parameterType="com.test.pojo.Team">
        update admin set name=#{name} where aid=#{aid};
    </update>
    <update id="updateTel" parameterType="com.test.pojo.Team">
        update admin set tel=#{tel} where aid=#{aid};
    </update>
    <update id="updatePass" parameterType="com.test.pojo.Team">
        update  admin
        set password="123456"
        where aid=#{aid}
    </update>
</mapper>