<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,做sql隔离 -->

<mapper namespace="com.mapper.fragmentMapper">
    <select id="selectByKey" resultType="com.test.pojo.fragment">
        select * from fragment where fmid=#{fmid};
    </select>
    <select id="selectAll" resultType="com.test.pojo.fragment">
        select * from fragment;
    </select>
    <insert id="insert" parameterType="com.test.pojo.fragment">
        insert into fragment
        values (#{fmid},#{next},#{data});
    </insert>
    <delete id="deleteByKey" parameterType="com.test.pojo.fragment">
        delete from fragment where fmid=#{fmid};
    </delete>
    <select id="selectoneByKey" resultType="com.test.pojo.fragment">
        select * from fragment where  fmid=#{fmid};
    </select>
</mapper>