<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,做sql隔离 -->

<mapper namespace="com.mapper.JudgelinkMapper">
    <select id="selectByKey" resultType="com.test.pojo.Judgelink">
        select * from judge_link where lid=#{lid};
    </select>
    <select id="selectAll" resultType="com.test.pojo.Judgelink">
        select * from judge_link;
    </select>
    <insert id="insert" parameterType="com.test.pojo.Judgelink">
    insert into judge_link
    values (#{lid},#{link},#{submitID},#{tid},#{taskID},#{rID});
    </insert>

    <delete id="deleteByKey" parameterType="com.test.pojo.Judgelink">
        delete from judge_link where lid=#{lid};
    </delete>

    <select id="selectByLink" resultType="com.test.pojo.Judgelink">
    select * from judge_link where link=#{link};
    </select>
    <select id="selectByRid" resultType="com.test.pojo.Judgelink">
        select *from judge_link where rID=#{rID};
    </select>


</mapper>