<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,做sql隔离 -->

<mapper namespace="com.mapper.OpinionAdminMapper">
    <select id="selectByKey" resultType="com.test.pojo.OpinionAdmin">
        select * from opinion_admin where teamID=#{teamID} and taskID=#{taskID};
    </select>
    <select id="selectAll" resultType="com.test.pojo.OpinionAdmin">
        select * from opinion_admin;
    </select>
    <insert id="insert" parameterType="com.test.pojo.OpinionAdmin">
        insert into opinion_admin
        values (#{teamID},#{taskID},#{aID},#{score},#{totalsize},#{firstFm},#{submitTime});
    </insert>
    <delete id="deleteByKey" parameterType="com.test.pojo.OpinionAdmin">
        delete from opinion_admin where teamID=#{teamID} and taskID=#{taskID};
    </delete>
</mapper>