<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,做sql隔离 -->

<mapper namespace="com.mapper.SubmissionMapper">
    <insert id="insert" parameterType="com.test.pojo.Submission">
        insert  into submission
        values(#{submitID},#{name},#{submitStatus},#{judgeStatus},#{next},#{startTime},#{deadline},#{submitTeams},#{description},#{taskID});
    </insert>
    <select id="selectByKey" resultType="com.test.pojo.Submission">
        select * from submission where  submitID=#{submitID};
    </select>
    <select id="selectAll" resultType="com.test.pojo.Submission">
        select * from submission;
    </select>
    <delete id="deleteByKey" parameterType="com.test.pojo.Submission">
        delete from submission where submitID=#{submitID};
    </delete>
    <update id="CloseSubmit" parameterType="com.test.pojo.Submission">
        update submission
        set submitStatus="0"
        where submitID=#{submitid};
    </update>
    <update id="CloseTutorJudge" parameterType="com.test.pojo.Submission">
        update submission
        set judgestatus="0"
        where submitID=#{submitid};
    </update>
    <update id="OpenSubmit" parameterType="com.test.pojo.Submission">
        update submission
        set submitStatus="1"
        where submitID=#{submitid};
    </update>
    <update id="OpenTutorJudge" parameterType="com.test.pojo.Submission">
        update submission
        set judgestatus="1"
        where submitID=#{submitid};
    </update>
    <update id="updateNext" parameterType="com.test.pojo.Submission">
        update  submission
        set next=#{next}
        where submitID=#{submitid};
    </update>
    <select id="selectoneByKey" resultType="com.test.pojo.Submission">
        select * from submission where  submitID=#{submitID};
    </select>
    <update id="updateNextByKey" parameterType="com.test.pojo.Submission">
        update submission set next=#{next} where submitID=#{submitID};
    </update>
    <update id="updateAllByKey" parameterType="com.test.pojo.Submission">
        update submission set name =#{name},startTime=#{startTime},deadLine=#{deadLine},description=#{description} where submitID=#{submitID};
    </update>
    <update id="updateSubmitTeams" parameterType="com.test.pojo.Submission">
        update submission set submitTeams = submitTeams+1
        where submitID=#{submitID};
    </update>

</mapper>