<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,做sql隔离 -->

<mapper namespace="com.mapper.TaskMapper">
    <insert id="insert" parameterType="com.test.pojo.task">
        insert  into task
        values(#{taskID},#{name},#{description},#{submitNum},#{firstsm},#{startedline},#{deadline});
    </insert>
    <select id="selectByKey" resultType="com.test.pojo.task">
        select * from task where  taskID=#{taskID};
    </select>
    <select id="selectAll" resultType="com.test.pojo.task">
        select * from task;
    </select>
    <delete id="deleteByKey" parameterType="com.test.pojo.task">
        delete from task where taskID=#{taskID};
    </delete>
    <update id="UpdateByKey" parameterType="com.test.pojo.task">
        update task
        set description=#{description},name=#{name},startedline=#{startedline},deadline=#{deadline},submitNum=#{submitNum}
        where  taskid=#{taskid};
    </update>
    <update id="updateSubmitnumByKey" parameterType="com.test.pojo.task">
        update task set submitNum=#{submitNum} where taskid=#{taskID};
    </update>
</mapper>
