<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,做sql隔离 -->

<mapper namespace="com.mapper.teamMapper">
    <insert id="insert" parameterType="com.test.pojo.team">
        insert  into team
        values(#{teamid},#{password},#{name},#{email},#{tel},#{taskid});
    </insert>
    <select id="selectByKey" resultType="com.test.pojo.team">
        select * from team where teamid=#{teamid};
    </select>
    <select id="selectAll" resultType="com.test.pojo.team">
        select * from team;
    </select>
    <delete id="deleteByKey" parameterType="com.test.pojo.team">
        delete from team where teamid=#{teamid};
    </delete>
    <update id="updatePassword" parameterType="com.test.pojo.team">
        update team set password=#{password} where teamid=#{teamid};
    </update>
    <update id="updateEmail" parameterType="com.test.pojo.team">
        update team set email=#{email} where teamid=#{teamid};
    </update>
    <update id="updateName" parameterType="com.test.pojo.team">
        update team set name=#{name} where teamid=#{teamid};
    </update>
    <update id="updateTel" parameterType="com.test.pojo.team">
        update team set tel=#{tel} where teamid=#{teamid};
    </update>
    <update id="updatePass" parameterType="com.test.pojo.team">
        update  team
        set password="123456"
        where teamid=#{teamid}
    </update>
</mapper>