<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,做sql隔离 -->

<mapper namespace="com.mapper.TutorMapper">
    <insert id="insert" parameterType="com.test.pojo.tutor">
        insert into tutor(tid,password,name,email,tel)
        values (#{tid},#{password},#{name},#{email},#{tel});
    </insert>
    <select id="selectByTid" resultType="com.test.pojo.tutor">
            select *from tutor where tid=#{tid};
        </select>
        <select id="selectAll" resultType="com.test.pojo.tutor">
                select *from tutor;
            </select>
            <delete id="deleteByTid" parameterType="com.test.pojo.tutor">
                    delete  from tutor where tid=#{tid};
                </delete>
        <update id="updatePass" parameterType="com.test.pojo.tutor">
                     update tutor
                     set password=#{password}
                     where tid=#{tid};
             </update>
       <update id="update" parameterType="com.test.pojo.tutor">
            update tutor
            set name=#{name},email=#{email},tel=#{tel}
            where tid=#{tid};
            </update>
</mapper>